# 初版格式，后续可以按竞赛代码习惯持续调整。
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
NamespaceIndentation: All
ColumnLimit: 76
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: false
